GEMINI_API_KEY=tu_api_key_de_gemini
GOOGLE_SHEETS_ID=id_del_google_sheet
GOOGLE_SERVICE_ACCOUNT_EMAIL=tu_service_account@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\ntu_key_aqui\n-----END PRIVATE KEY-----"
